:root {
 --primary: black;
 --secondary: rgb(74,74,74);
 --tertiary: rgb(34, 34, 34);
 --quatenary: black;
 --quinary:  black;
 --light-blue: rgb(194, 194, 252);
}

input {
    border: 1px solid black;
}

.font-2rem {
    font-size: 2rem;
}

.night-bg {
    background-color: rgb(165, 165, 165);
}

button {
    background-color: black;
    color: white;
}

.bold {
    font-weight: bold;
}

.padding-1rem {
    padding: 1rem;
}

.content {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 8rem;
    margin: 2rem;
}

body {
    background-color: white;
}

.page {
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 10rem 0rem;
}

.flex-middle-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.flex-top-center-row {
    display: flex;
    flex-direction: row;
}

.flex-start-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.flex-start-between-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-c-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-start-row {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.flex-c-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.form-input-width {
    width: 25rem;
    height: 3rem;
    padding: .5rem;
    margin: .25rem;
}

.form-container {
    box-shadow: 10px 10px 20px rgb(0,0,0,0.7);
    padding: 2rem;
}

.margin-2rem {
    margin: 2rem;
}

.product-admin-list {
    background-color: white;
    border: 1px solid black;
    width: 12rem;
    height: 2rem;
    padding: .4rem;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.font-center {
    text-align: center;
}