.cart-row {
    background-color: var(--light-blue);
    box-shadow: 5px 5px 15px rgb(0,0,0,0.5);
    margin: .5rem;
}

.payment-column {
    width: 20rem;
    padding: 1rem;
}

.cart-picture {
    height: 15rem;
    width: 15rem;
    object-fit: cover;
}

.cart-column {
    width: 20rem;
    padding: 1rem;
    height: 15rem;
}

.cart-column-small {
    width: 10rem;
    padding: 1rem;
    height: 15rem;
}